






.hljs {
  background: #ffffff; /* White background */
}

.hljs,
.hljs-subst {
  color: #2F4F4F; /* Dark greenish-gray */
}

.hljs-selector-tag {
  color: #228B22; /* ForestGreen */
}

.hljs-selector-id {
  color: #2E8B57; /* SeaGreen */
  font-weight: bold;
}

.hljs-selector-class,
.hljs-selector-attr,
.hljs-property,
.hljs-selector-pseudo,
.hljs-built_in,
.hljs-type,
.hljs-class,
.hljs-function,
.hljs-title.hljs-function,
.hljs-function > .hljs-title,
.hljs-attr,
.hljs-attribute,
.hljs-name,
.hljs-section,
.hljs-tag,
.hljs-code,
.hljs-formula {
  color: #32CD32; /* LimeGreen */
}

.hljs-addition {
  background-color: rgba(144, 238, 144, 0.5); /* LightGreen background */
}

.hljs-deletion {
  background-color: rgba(255, 99, 71, 0.5); /* Light Red for deletion */
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-bullet {
  color: #006400; /* DarkGreen */
}

.hljs-number {
  color: #6B8E23; /* OliveDrab */
}

.hljs-regexp {
  color: #9ACD32; /* YellowGreen */
}

.hljs-string {
  color: #66CDAA; /* MediumAquamarine */
}

.hljs-params,
.hljs-variable,
.hljs-template-variable {
  color: #2F4F4F; /* Dark greenish-gray */
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link:hover {
  text-decoration: underline;
}

.hljs-quote,
.hljs-comment {
  color: #8FBC8F; /* DarkSeaGreen */
}

.hljs-doctag {
  color: #3CB371; /* MediumSeaGreen */
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-template-tag {
  color: #20B2AA; /* LightSeaGreen */
}

.hljs-meta .hljs-string {
  color: #66CDAA; /* MediumAquamarine */
}

/* per language adjustments */
.language-css .hljs-built_in,
.language-css .hljs-keyword,
.language-apache .hljs-attribute,
.language-nginx .hljs-attribute,
.language-nginx .hljs-section,
.language-arduino .hljs-built_in,
.language-glsl .hljs-built_in,
.language-lua .hljs-built_in,
.language-processing .hljs-built_in,
.language-moonscript .hljs-built_in,
.language-pf .hljs-built_in {
  color: #228B22; /* ForestGreen */
}

.language-java .hljs-meta,
.language-groovy .hljs-meta:not(:first-child),
.language-haxe .hljs-meta,
.language-swift .hljs-meta {
  color: #556B2F; /* DarkOliveGreen */
}
